* {
  margin: 0;
  padding: 0;
  
  
}

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  
}
#HTML-Main{
  /* width: 90vw; */
  padding: 0 10vw ;
  /* margin: auto; */
    /* background-color: black;
    color: white; */
}



#navbar {
  position: fixed;
  min-width: 290px;
  top: 11%;
  z-index: 1;
  left: 0px;
  width: 300px;
  height: 89%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  font-weight: bold;
  
  padding: 10px;
  /* text-align: center; */
  font-size: 1.3em;
  font-weight: thin;


}
.reload{
  color: blue;
  text-decoration: underline;
  font-size: small;
}



#menu {
  width: 100%;
  background: rgb(1, 200, 255);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  filter: drop-shadow(0px 0px 20px rgba(91, 250, 255, 0.731));
  z-index: 999;

}

#menu ul {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1vh 0;
  overflow-y: hidden;

}

#menu ul img {
  width: 50px;
  margin-left: 12px;
}

#menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  cursor: pointer;
  height: fit-content;

}

#menu ul li a:hover {
  color: rgb(23, 157, 211);
  background-color: black;
  padding: 4px;
  border-radius: 5px;

}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5vw;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(5, 4, 4);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;

  font-weight: bold;
  font-size: 1.5vw;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: rgb(23, 157, 211);
  background-color: black;
  /* padding: 14px 0; */
  border-radius: 5px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #66afaf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  /* margin: 14px auto; when margin is fail use display block */
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
.moon{
  margin: 0 2%;
}







/* main  */





#main-doc {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* float: right; */
  margin: 0 29%;

}



section{
  width: 90%;
  padding: 6vh auto;
}
img {
  width: 60%;
}

#img-tag article code img{
  width: 90px;
  height: 90px;
}

section article {
  /* color: #4d4e53; */
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #a29c9c64;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}


/* mode style  */




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(138, 131, 131);
  /* border: 1px solid black; */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(254, 237, 237);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:after {
  
  background-color: rgb(243, 227, 227);
  
}
input:checked + .slider {
  background-color: #0e0f0e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e1d2d2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
  
}


@media only screen and (max-width: 815px) {

  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  header {
    margin-left: 1.3rem;
    ;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 14%;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 3;
    border-bottom: 2px solid;
}

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 275px;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}